{% extends "layoutModule.njk" %}

{% block head %}
    <title>Sobre</title>
    <link rel="stylesheet" href="/css/aboutPage.css">
{% endblock %}

{% block content %}
<section class="mainContent">
    <div class="mainTitle"><h1>Sobre o Foodfy</h1></div>
    <div class="text">
        <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nam repudiandae minus atque ratione ad voluptatibus libero. Maiores voluptas quibusdam doloremque nisi repudiandae? Modi esse corporis inventore nulla, temporibus dolore?
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur hic cupiditate saepe! A voluptatem reprehenderit quam. Alias incidunt, sed commodi tempore, blanditiis beatae voluptates qui, quae cum autem esse et.
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, autem laudantium ullam maiores excepturi dolorem corporis sapiente perspiciatis vel, tempora aut debitis facere quod qui suscipit recusandae atque aliquid sint.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat hic odit ipsam, dolorum ipsum corrupti saepe fuga voluptatem sint quam architecto laboriosam, pariatur minima ab iure qui, deleniti labore in!
        </p>
        <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore deserunt illo beatae eos nulla perspiciatis. Debitis eum ipsam autem sapiente illo magnam laboriosam. Dolores odio corrupti laborum corporis odit ab.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque praesentium consectetur sint illo nemo voluptatum natus ullam necessitatibus tempore asperiores dolorum quam excepturi hic nobis, inventore, eligendi quia quae? Consequuntur.
        </p>
    </div>
    <div class="title"><h3>Como tudo começou...</h3></div>
    <div class="text">
        <div class="text">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nam repudiandae minus atque ratione ad voluptatibus libero. Maiores voluptas quibusdam doloremque nisi repudiandae? Modi esse corporis inventore nulla, temporibus dolore?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur hic cupiditate saepe! A voluptatem reprehenderit quam. Alias incidunt, sed commodi tempore, blanditiis beatae voluptates qui, quae cum autem esse et.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, autem laudantium ullam maiores excepturi dolorem corporis sapiente perspiciatis vel, tempora aut debitis facere quod qui suscipit recusandae atque aliquid sint.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat hic odit ipsam, dolorum ipsum corrupti saepe fuga voluptatem sint quam architecto laboriosam, pariatur minima ab iure qui, deleniti labore in!
            </p>
            <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempore deserunt illo beatae eos nulla perspiciatis. Debitis eum ipsam autem sapiente illo magnam laboriosam. Dolores odio corrupti laborum corporis odit ab.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque praesentium consectetur sint illo nemo voluptatum natus ullam necessitatibus tempore asperiores dolorum quam excepturi hic nobis, inventore, eligendi quia quae? Consequuntur.
            </p>
        </div>
    </div>
    <div class="title"><h3>Nossas receitas</h3></div>
    <div class="text">
        <div class="text">
            <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nam repudiandae minus atque ratione ad voluptatibus libero. Maiores voluptas quibusdam doloremque nisi repudiandae? Modi esse corporis inventore nulla, temporibus dolore?
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Pariatur hic cupiditate saepe! A voluptatem reprehenderit quam. Alias incidunt, sed commodi tempore, blanditiis beatae voluptates qui, quae cum autem esse et.
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil, autem laudantium ullam maiores excepturi dolorem corporis sapiente perspiciatis vel, tempora aut debitis facere quod qui suscipit recusandae atque aliquid sint.
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat hic odit ipsam, dolorum ipsum corrupti saepe fuga voluptatem sint quam architecto laboriosam, pariatur minima ab iure qui, deleniti labore in!
            </p>
        </div>
    </div>
</section>
{% endblock %}