<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/module.css">
    {% block head %} <title>Foodfy</title> {% endblock %}
</head>  
<body>
    <header>
        <!--Main Header content-->
        <div class="mainHeader">
            <div class="logo"><img src="/assets/logo.png" alt=""></div>
            <div class="menu">
                <ul>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="/recipes">Receitas</a></li>
                </ul>
            </div>    
        </div>      
    </header>
    {% block content %}
    {% endblock %}
</body>
</html>