{% extends "layoutModule.njk" %}

{% block head %}
    <link rel="stylesheet" href="/css/mainPage.css">
{% endblock %}

{% block content %}
    <section class="banner">
        <div class="gridContent">
            <div class="gridText">
                <h1>As melhores receitas</h1>
                <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>
            </div>
            <div class="gridImg"><img src="/assets/chef.png" alt=""></div>       
        </div>
    </section>
    <section class="recipes">
        <div class="title"><h1>Mais acessadas</h1></div>
        <div class="recipesGrid">
            <div class="item">
                <img src="/assets/burguer.png" alt="">
                <h3>Nome Receita</h3>
                <p>por "Autor"</p>      
            </div>
            <div class="item">
                <img src="/assets/pizza.png" alt="">
                <h3>Nome Receita</h3>
                <p>por "Autor"</p>                 
            </div>
            <div class="item">
                <img src="/assets/espaguete.png" alt="">
                <h3>Nome Receita</h3>
                <p>por "Autor"</p>  
            </div>
            <div class="item">
                <img src="/assets/lasanha.png" alt="">
                <h3>Nome Receita</h3>
                <p>por "Autor"</p>   
            </div>
            <div class="item">
                <img src="/assets/doce.png" alt="">
                <h3>Nome Receita</h3>
                <p>por "Autor"</p>   
            </div>
            <div class="item">
                <img src="/assets/asinhas.png" alt="">
                <h6>Nome Receita</h6>
                <p>por "Autor"</p>   
            </div>
        </div>
    </section>
{% endblock %}