{% extends "Module.njk" %}

{% block head %}
    <title>Receitas</title>
    <link rel="stylesheet" href="/styles/Recipes.css">
{% endblock %}

{% block content %}
    <div id="page-recipes">
        <section class="recipes-content">
            <div class="recipes-grid">            
                {% for recipe in recipes %}
                    <div class="grid-item">
                        <img src='{{recipe.image}}'>
                        <p class= "recipe-title">{{recipe.title}}</p>
                        <p class= "recipe-author">{{recipe.author}}</p>      
                    </div>
                {% endfor%}
            </div>
         <script src="/scripts/script.js"></script>
        </section>
    </div>
{% endblock %}