.mainContent {
    padding: 0 15%;
}

.mainTitle {
    font-size: 12px;
}

.text p {
    margin: 3% 0;
    text-align:justify;
    opacity: 80%;
    font-size: 14px;
}

.title {
    font-size: 14px;
}