* {
    margin: 0;
    padding: 0;
    border: 0;
}

/*---===HEADER===---*/
header {width: 100%;}

ul {list-style-type: none;}

.mainHeader{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    margin: 2% 0 2% 0;
}

.logo {
    display: flex;
    justify-content: center;
}

.logo a {margin-left: 35%;}

.logo a, img{
    display: flex;
    align-items: center;
}

.logo img {width: 80%;}

.menu ul a {
    text-decoration: none;
    font: 400 13px/23px 'Roboto', sans-serif;
    color: black;
}

.menu ul li + li {margin-left: 3%;}

.menu ul, li{
    display: flex;
    align-items: center;
    height: 100%;
}

/*---===FOOTER===---*/

footer {width: 100%;}
 
.footer {
    height: 10vh;
    background-color:#EEEEEE;
    color: #999999;
}

.footerContent {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font: 400 12px/22px 'Roboto', sans-serif;
}