* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

body, html {
    width: 100%;
    font-family: 'Roboto', sans-serif;
}

/*---===HEADER===---*/
header {width: 100%;}

ul {list-style-type: none;}

.page-header{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    margin: 2% 0 2% 0;
}

.page-header .logo {
    display: flex;
    justify-content: center;
}

.page-header .logo a {margin-left: 35%;}

.page-header .logo a, img{
    display: flex;
    align-items: center;
}

.page-header .logo img {width: 80%;}

.page-header .menu ul a {
    text-decoration: none;
    font: 400 13px/23px 'Roboto', sans-serif;
    color: black;
}

.page-header .menu ul li + li {margin-left: 3%;}

.page-header .menu ul, li{
    display: flex;
    align-items: center;
    height: 100%;
}

/*---===FOOTER===---*/

footer {width: 100%;}
 
.page-footer {
    height: 10vh;
    background-color:#EEEEEE;   
}

.page-footer p, .page-footer a {color: #999999;}

.footer-content {
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font: 400 12px/22px 'Roboto', sans-serif;
}