#page-recipes .recipes-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap:20px;
}

#page-recipes .recipes-content {
    margin: 3% 0;
    padding: 0 15%;
}

#page-recipes .grid-item {
    box-sizing: border-box;
    width: 100%;
}

#page-recipes .grid-item img {
    width: 100%;
    border-radius: 15px;
    margin-bottom: 10px;
    height: 7.6rem;
}

#page-recipes .recipe-author {
    font-size: 12px;
    color: #777777;
}

#page-recipes .recipe-title {
    font-size: 14px;
    margin-bottom: 3px;
}