<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/Module.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap">
    {% block head %} <title>Foodfy</title> {% endblock %}
</head>
<body>
    <header>
        <div class="page-header">
            <div class="logo"><a href="/"><img src="assets/images/logo.png" alt="Logo Foodfy"></a></div>
            <div class="menu">
                <ul>
                    <li><a href="/about">Sobre</a></li>
                    <li><a href="/recipes">Receitas</a></li>
                </ul>
            </div>    
        </div>      
    </header>
    {% block content %}
    {% endblock %}
    <footer>
        <div class="page-footer">
            <div class="footer-content">
                <p>Feito com &#10084; por <a href="https://www.linkedin.com/in/lauragiulianip/">Laura Giuliani</a></p>
                <p>Todos os direitos reservados - Foodfy</p>
            </div>  
        </div>
    </footer>
</body>
</html>